{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base"
  ],
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ]
  }
}